.app {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.dev-toolbar {
  font-size: 14px;
  background: orange;
}

.label {
  display: flex;
  align-items: center;
}
